# Файлы окружения (может содержать секреты)
.env

# Файлы Python-кэша
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.sqlite
*.pid

# IDE и системные файлы
.idea/
.vscode/
.DS_Store

# Виртуальные окружения
venv/
env/

# Тестовые данные
tests/
test_*.py

# Alembic-версии (если не нужно копировать в контейнер)
# bot/alembic/versions/