# 🔐 Секреты и окружение
.env
.env.*

# 🐍 Python кэш
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 🪵 Логи и временные файлы
*.log
*.sqlite
*.pid
*.tmp
*.bak

# 🧠 IDE и системные файлы
.idea/
.vscode/
.DS_Store
*.swp

# 🐳 Docker сборка и окружения
docker-compose.override.yml

# 🧪 Jupyter и блокноты
*.ipynb

# 📦 Виртуальные окружения
venv/
env/
.venv/
.venv

# ⚙️ Git
.git/
.gitignore
